<script>
  function ale() {
      document.getElementById("bname").innerHTML = "Ale";
      document.getElementById("bdesc").innerHTML = "Ale is a type of beer brewed"
      + " using a warm fermentation method, resulting in a sweet, full-bodied"
      + " and fruity taste. Historically, the term referred to a drink brewed"
      + " without hops. As with most beers, ale typically has a bittering agent"
      + " to balance the sweetness of the malt and act as a preservative. Ale"
      + " was originally bittered with gruit, a mixture of herbs or spices"
      + " boiled in the wort before fermentation. Later, hops replaced gruit"
      + " as the bittering agent.";
    }

    function boza() {
      document.getElementById("bname").innerHTML = "Boza";
      document.getElementById("bdesc").innerHTML = "Boza, also bosa, is a"
      + " popular fermented beverage. It is a malt drink made from maize (corn)"
      + " and wheat in Albania, fermented wheat in Turkey, and wheat or millet"
      + " in Bulgaria and Romania. In Egypt where it is known as 'buza' it is"
      + " usually made from barley. It has a thick consistency, a low alcohol"
      + " content (around 1%), and a slightly acidic sweet flavor.";
    }

    function caskale() {
      document.getElementById("bname").innerHTML = "Cask Ale";
      document.getElementById("bdesc").innerHTML = "Cask ale or cask-conditioned"
      + " beer is unfiltered and unpasteurised beer which is conditioned"
      + " (including secondary fermentation) and served from a cask without"
      + " additional nitrogen or carbon dioxide pressure. Cask ale is also"
      + " sometimes referred to as real ale in the United Kingdom, a term"
      + " coined by the Campaign for Real Ale, often now extended to cover"
      + " bottle-conditioned beer as well.";
    }

    function cauim() {
      document.getElementById("bname").innerHTML = "Cauim";
      document.getElementById("bdesc").innerHTML = "Cauim is a traditional"
      + " alcoholic beverage or beer of the indigenous peoples in Brazil since"
      + " pre-Columbian times. It is still made today in remote areas throughout"
      + " Panama and South America. Cauim is made by fermenting manioc (a large"
      + " starchy root), or maize, sometimes flavored with fruit juices. The"
      + " Kuna Indians of Panama use plantains. A characteristic feature of the"
      + " beverage is that the starting material is cooked, chewed, and fermented,"
      + " so that enzymes present in human saliva can break down the starch into"
      + " fermentable sugars. (This principle was originally used also for"
      + " Japanese sake.)"
    }

    function gotlandsdricka() {
      document.getElementById("bname").innerHTML = "Gotlandsdricka";
      document.getElementById("bdesc").innerHTML = "Gotlandsdricka (in modern"
      + " Gutnish drikke or drikko, and drikku) is a traditional homebrewed"
      + " alcoholic beverage made on the island of Gotland, Sweden. It is a kind"
      + " of ale, closely related to the Finnish sahti.  The main ingredients are"
      + " juniper boughs, malt, hops, yeast, water and sugar. The taste is smoky,"
      + " bitter-sweet, full-bodied and spicy with a significant juniper flavor."
    }

    function gruit() {
      document.getElementById("bname").innerHTML = "Gruit";
      document.getElementById("bdesc").innerHTML = "Gruit (alternately grut or"
      + " gruyt) is an old-fashioned herb mixture used for bittering and"
      + " flavoring beer, popular before the extensive use of hops. Gruit or"
      + " grut ale may also refer to the beverage produced using gruit. Gruit"
      + " was a combination of herbs, commonly including sweet gale (Myrica"
      + " gale), mugwort (Artemisia vulgaris), yarrow (Achillea millefolium),"
      + " ground ivy (Glechoma hederacea), horehound (Marrubium vulgare), and"
      + " heather (Calluna vulgaris). Gruit varied somewhat, each gruit producer"
      + " including different herbs to produce unique flavors and effects. Other"
      + " adjunct herbs included juniper berries, ginger, caraway seed, aniseed,"
      + " nutmeg, cinnamon, and even hops in variable proportions."
    }

    function kvass() {
      document.getElementById("bname").innerHTML = "Kvass";
      document.getElementById("bdesc").innerHTML = "Kvass is a traditional Slavic"
      + " and Baltic fermented beverage commonly made from black or regular rye"
      + " bread. The colour of the bread used contributes to the colour of the"
      + " resulting drink. It is classified as a non-alcoholic drink by Russian"
      + " standard, as the alcohol content from fermentation is typically less"
      + " than 1.2%. Generally, the alcohol content is low (0.5–1.0%). It may be"
      + " flavoured with fruits such as strawberries and raisins, or with herbs"
      + " such as mint."
    }

    function lager() {
      document.getElementById("bname").innerHTML = "Lager";
      document.getElementById("bdesc").innerHTML = "Lager is a type of beer that"
      + " is conditioned at low temperatures, normally in cold storage at the"
      + "brewery, before being delivered to the consumer. It may be pale, golden,"
      + " amber, or dark. Although the defining feature of lager beer is its"
      + " maturation in cold storage, it is also distinguished by the use of"
      + " bottom-fermenting lager yeast. While it is possible to use lager yeast"
      + " in a warm fermentation process such as with American steam beer, the"
      + " lack of a cold storage maturation phase precludes such beer from being"
      + " classified as lager beer."
    }

    function pulque() {
      document.getElementById("bname").innerHTML = "Pulque";
      document.getElementById("bdesc").innerHTML = "Pulque is an alcoholic"
      + " beverage made from the fermented sap of the maguey (agave) plant. It"
      + " is traditional to central Mexico, where it has been produced for"
      + " millennia. It has the color of milk, somewhat viscous consistency and"
      + " a sour yeast-like taste."
    }

    function sahti() {
      document.getElementById("bname").innerHTML = "Sahti";
      document.getElementById("bdesc").innerHTML = "Sahti is a traditional beer"
      + " from Finland made from a variety of grains, malted and unmalted,"
      + " including barley, rye, wheat, and oats; sometimes bread made from"
      + " these grains is fermented instead of malt itself. Traditionally the"
      + " beer is flavored with juniper berries in addition to, or instead of,"
      + " hops. The end product is a cloudy beer with yeasty and phenolic flavors"
      + " and a distinct taste similar to banana."
    }

    function smokedbeer() {
      document.getElementById("bname").innerHTML = "Smoked Beer";
      document.getElementById("bdesc").innerHTML = "Smoked beer (German:"
      + " Rauchbier) is a type of beer with a distinctive smoke flavour imparted"
      + " by using malted barley dried over an open flame."
    }

    function sourale() {
      document.getElementById("bname").innerHTML = "Sour Ale";
      document.getElementById("bdesc").innerHTML = "Sour beer is beer which has"
      + " an intentionally acidic, tart or sour taste. The most common sour beer"
      + " styles are Belgian: lambics, gueuze and Flanders red ale."
    }

    function wheatbeer() {
      document.getElementById("bname").innerHTML = "Wheat Beers";
      document.getElementById("bdesc").innerHTML = "Wheat beer is a beer, usually"
      + " top-fermented, which is brewed with a large proportion of wheat relative"
      + " to the amount of malted barley which makes a light coloured beer. The"
      + " two main varieties are Weissbier and Witbier; minor types include Lambic,"
      + " Berliner Weisse and Gose.  Often made with raw unmalted wheat, as opposed"
      + " to the talted wheat used in other varieties. Weizenbier and Weißbier are"
      + " the standard German names for wheat beer – 'Weizen' is German for 'wheat',"
      + " and 'weiß' is German for 'white'."
      + "<br><br>"
      + "<b>Weizenbock</b> is the name for a strong beer or bock made with wheat."
      + "<br><br>"
      + "<b>Roggenbier</b> is a fairly dark beer made with rye, somewhat grainy flavour similar to bread."
      + "<br><br>"
      + "<b>Berliner Weisse</b> is a pale, very sour, wheat beer brewed in Berlin. 9° Plato,"
      + " 2.5-5% ABV. The beer is typically served with raspberry or woodruff flavoured syrup."
      + "<br><br>"
      + "<b>Leipziger Gose</b> is an amber, mildly sour, wheat beer with an"
      + " addition of salt, brewed around Leipzig. 10-12° Plato, 4-5% ABV."
      + "<br><br>"
      + "<b>Hefeweizen</b> is an unfiltered wheat beer. 'Hefe' is German for yeast."
      + "<br><br>"
      + "<b>Kristallweizen</b> is a filtered wheat beer. Characterized by a clear"
      + " appearance as opposed to the cloudy look of a typical Hefeweizen."
      + "<br><br>"
      + "<b>Kottbusser</b> is an heirloom style originating in the city of Cottbus,"
      + " typically containing oats, honey and molasses in addition to wheat and barley malts.";
    }

    function palebeer() {
      document.getElementById("bname").innerHTML = "Pale Beers";
      document.getElementById("bdesc").innerHTML = "derp"
    }

    function darkbeer() {
      document.getElementById("bname").innerHTML = "Dark Beers";
      document.getElementById("bdesc").innerHTML = "derp"
    }

</script>



<h1 style="text-indent: 50px;">Beers</h1>

<div class="contentbox1">

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="ale()">
        <p class="brewery">Ale</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="boza()">
        <p class="brewery">Boza</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="caskale()">
        <p class="brewery">Cask Ale</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="cauim()">
        <p class="brewery">Cauim</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="gotlandsdricka()">
        <p class="brewery">Gotlandsdricka</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="gruit()">
        <p class="brewery">Gruit</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="kvass()">
        <p class="brewery">Kvass</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="lager()">
        <p class="brewery">lager</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="pulque()">
        <p class="brewery">Pulque</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="sahti()">
        <p class="brewery">Sahti</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="smokedbeer()">
        <p class="brewery">Smoked Beer</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="sourale()">
        <p class="brewery">Sour Ale</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="wheatbeer()">
        <p class="brewery">Wheat Beer</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="palebeer()">
        <p class="brewery">Pale Beer</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="darkbeer()">
        <p class="brewery">Dark Beer</p>
      </div>


</div>

<div class="contentbox2">

  <p class="bname" id="bname"> Select a beer for details </p>
  <p class="bdesc" id="bdesc"></p>


</div>
