<h1>Style</h1>
<%
  @allstyles.each do |s|
    @beersForStyle = Beer.where(:style_id => s.style_id)
    if (@beersForStyle.count > 0) then
      %>
      <h5><%=s.name%></h5>
      <p><%=s.description%></p>
      <%
      @beersForStyle.each do |bfs|
        %>
        <p><%=bfs.name.titleize%></p>
        <p>Brewery ID: <%=bfs.brewery_id%></p>
        <%
    
    end
    end
  end
%>

