<h1>Brewery Info</h1>
<br>
<h2><%= @pub.brewery.name %></h2>
<p>lat:<%=  @pub.latitude %><br>long:<%=  @pub.longitude %></p>


<br><br><br><br><br>Note: this is debug output, it very much needs to be made "pretty"<br><%= @pub %>
