


<h1 style="text-indent: 50px;">Breweries</h1>

<div class="contentbox1">

  <%@pubs.each do |p|%>
    <!--<a href=/pub/<%= p.id %>>-->
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="displayRight(&quot;<%= p.id %>&quot;)">
        <p class="brewery"><%= p.brewery.name %></p>
        <p class="location"><%= p.locality %></p>
      </div>
    <!--</a>-->
  <%end%>

</div>

<div class="contentbox2">

  <p class="bname" id="breweryname"> Select a brewery to see details </p>
  <p class="bdesc" id="bewerydesc"></p>

</div>


<script>
  function displayRight(id){
    //This needs to actually displayRight
    window.location.href = "/pub/" + id;
  }
</script>
