<h1>Browser#pubs</h1>
<p>Find me in app/views/browser/pubs.html.erb</p>

<p>Currently pulling beers from Big River Brewing, ID AAj4GG</p>

<%

@allbreweries.each do |brewery|
  brewery.each do |b|
  
  %>
  <p><%=b.name%></p>
  <%
  end
  end
  %>