<style>
/*header, main, footer
{
padding-left: 240px;
}*/

body, html
{
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
  overflow: show;
}

#rightFrame
{
  background-color:red;
  background-color: white;
  margin-left:240px;
  height: calc(100vh - 64px);
  width: calc(100% - 240px);

  background-color: white;
  overflow:hidden;
  overflow-y:scroll;
  float: left;
  margin-right:100px;
}

#mainbox
{
  background-color: white;
  padding: 0px;
  margin-left:0;
  margin-top:0;
  margin-right:0;
  margin-bottom:0;
}

</style>

<ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; translate(0%); margin-top: 64px;">
  <li class = "bold">
    <div >
      <a ><b>Breweries</b></a>
    </div>
  </li>
  <%@pubs.each do |p| %>
  <li class="bold">
    <a class="waves-effect waves-teal"; onclick="displayRight(&quot;<%= p.id %>&quot;)">
      <%=p.name%>
    </a>
  </li>
  <%end%>
</ul>

<iframe id="rightFrame" class="breweries_info"  frameborder="0"></iframe>


<script>
function displayRight(id){
  //This needs to actually displayRight
  //window.location.href = "/pub/" + id;
  document.getElementById("rightFrame").src = "/pub/" + id;
}


$('li > a').click(function() {
  $('li').removeClass();
  $(this).parent().addClass('active');
});

</script>
