<h1 style="text-indent: 50px;">Breweries</h1>

<div class="contentbox1">
  <%=#Displaying all pubs in a nice little box - no further data for now, just names and a link to that brewery.
  %>
  <%@pubs.each do |p|%><!--- Add @allbreweries.each do |brewery| then interate over brewery for the method using IDs, trevor has saved the old code  --->
    <!--<a href=/pub/<%= p.id %>>-->
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';">
        <p class="brewery"><%= p.brewery.name %></p>
        <p class="location"><%= p.locality %></p>
      </div>
    <!--</a>-->
  <%end%>

</div>

<div class="contentbox2">

  <p class="bname" id="breweryname"> Select a brewery to see details </p>
  <p class="bdesc" id="bewerydesc"></p>

</div>
