<style>
/*header, main, footer
{
padding-left: 240px;
}*/

body, html
{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: show;
}

#rightFrame
{
  position:absolute;
  left:240px;
  right:-240px;
  bottom:0;
  top:64px;
}

#wrap { width: 600px; height: 390px; padding: 0; overflow: hidden; }
#rightFrame { width: 800px; height: 520px; border: 1px solid black; }
#rightFrame {
  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}
</style>

<ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; translate(0%); margin-top: 64px;">
  <li class = "bold">
    <div >
      <a ><b>Breweries</b></a>
    </div>
  </li>
  <%@pubs.each do |p| %>
  <li class="bold">
    <a class="waves-effect waves-teal"; onclick="displayRight(&quot;<%= p.id %>&quot;)">
      <%=p.brewery.name%>
    </a>
  </li>
  <%end%>
</ul>

<div class="wrap">
  <iframe id="rightFrame" class="breweries_info" style="height:100%; width:100%; frameborder="0""></iframe>
</div>

<script>
function displayRight(id){
  //This needs to actually displayRight
  //window.location.href = "/pub/" + id;
  document.getElementById("rightFrame").src = "/pub/" + id;
}

$('li > a').click(function() {
  $('li').removeClass();
  $(this).parent().addClass('active');
});

$('#rightFrame').contents().find('body').css("word-wrap", "break-word");
</script>
