<style>
/*header, main, footer
{
padding-left: 240px;
}*/

body, html
{
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
  overflow: show;
}

iframe.breweries_info
{
  background-color: white;
  margin-left:240px;
  height: 100vh;
  width: calc(100% - 240px);
}

iframe.breweries_info2
{
  background-color: white;
  margin-left:0;
  height: 100vh;
  width: 100%;
}

#mainbox
{
  height:100%;
  width:100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.btn
{
  background-color: rgba(0,0,0,0);
}

.btn:active
{
  background-color: rgba(0,0,0,0);
}

.btn:hover
{
  background-color: rgba(0,0,0,0);
}
</style>


<%@allstyles.each do |s|
    @allBeersForStyle = Beer.where(:style_id => s.style_id)
    if (@allBeersForStyle.count > 0) then
      %>
      <%
      @allBeersForStyle.each do |bfs|
        %>
        <%
        #grab the associated brewery for this beer.
        @bfb = Brewery.where(:id => bfs.brewery_id).first
        @pubslink = "pubs#" + @bfb.id.to_s
    end
    end
  end
%>

<ul id='dropdown1' class="dropdown-content">
  <li class = "bold">
    <div >
      <a ><b>Styles</b></a>
    </div>
  </li>

  <%@allstyles.each do |s|
  @allBeersForStyle = Beer.where(:style_id => s.style_id)
    if (@allBeersForStyle.count > 0) then
      %>
      <%
      #Need some sort of structure for collapsible lists within a list.
      %>

      <li>
        <ul >
        <li class="bold">
          <a class="waves-effect waves-teal"; onclick="displayRight(&quot;<%= s.id %>&quot;)">
            <%=s.name%>
          </a>
        </li>
        </ul>
      </li>
    <%end%>
  <%end%>
</ul>

<ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; translate(0%); margin-top: 64px;">
  <li class = "bold">
    <div >
      <a ><b>Styles</b></a>
    </div>
  </li>

  <%@allstyles.each do |s|
  @allBeersForStyle = Beer.where(:style_id => s.style_id)
    if (@allBeersForStyle.count > 0) then
      %>
      <%
      #Need some sort of structure for collapsible lists within a list.
      %>

      <li>
        <ul >
        <li class="bold">
          <a class="waves-effect waves-teal"; onclick="displayRight(&quot;<%= s.id %>&quot;)">
            <%=s.name%>
          </a>
        </li>
        </ul>
      </li>




    <%end%>
  <%end%>
</ul>


<iframe id="rightFrame" class="breweries_info"  frameborder="0"></iframe>
<script>
function displayRight(id){
  //This needs to actually displayRight
  //window.location.href = "/pub/" + id;
  document.getElementById("rightFrame").src = "/style/" + id;
}

function displayBeersOnRight(id) {
    document.getElementById("rightFrame").src = "/style/" + id;
}


$('li > a').click(function() {
  $('li').removeClass();
  $(this).parent().addClass('active');
});

function getHeight()
{
  var h = window.innerHeight;
  return h;
};

function getWidth()
{
  var h = window.innerWidth;
  return h;
};

window.onload = checkWindow();
window.onload = $('.dropdown-button').dropdown();
window.onresize = checkWindow();
// optimize for mobile view
function checkWindow()
{
  var box = document.getElementById("rightFrame");
  if ($(window).width() <= 1024)
  {
    var logo = document.getElementById("logo");
    logo.setAttribute("class", 'brand-logo dropdown-button btn');
    logo.setAttribute("data-activates", 'dropdown1');
    logo.setAttribute("href", "javascript:void(0)");
    box.setAttribute("class", "breweries_info2");
  }
  if ($(window).width() > 1024)
  {
    box.setAttribute("class", "breweries_info");
  }
};
</script>
