    <%=#Display for updating admin status on a user.
  %>
<% provide(:title, @user.username) %>
<h3>
  <%= @user.username %>
</h3>
<p>
Admin status:
<%= @user.admin %>
</p>
<p>Admin status updated!</p>
