<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>BrewHUB - Your guide to bars!</title>
<link href="mainpage.css" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag "mainpage.css" %>
</head>
<body>
</select>
  <a href="/pubs/"><h5>Find Breweries</h5></a>
    <p>We'll help you find nearby craft breweries!</p>
    <a href="/styles/"><h5>Find Beers</h5></a>
    <p>Picky? We'll help you find breweries that cater to your specific taste.</p>
  <a href="/beers/"><h5>Learn about Beer</h5></a>
    <p>Want to learn the difference between a Stout and a Porter?  We'll educate you on the jargon.</p>
  <a href="#"><h5>Social</h5></a>
    <p>Organize a group meetup at a nearby Brewery!</p>
  <a href="/login/"><h5>Login</h5></a>
    <p>Log in with Facebook, Google, or your own account - set up a group to meet at a Brewery near you and your friends!</p>
  <a href="/signup/"><h5>Register</h5></a>
    <p>New here?  Make an account!</p>
  <a href="javascript:void(0)" id="openNotification")><h5>Test Card</h5></a>
</body>
</html>


<!--
<img src="images/LOGO.png" alt="" width="394" height="57" class="logo"/>
>
