<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>BrewHUB - Your guide to bars!</title>
<link href="mainpage.css" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag "mainpage.css" %>
</head>
<body>
  <select name="user_id" id="user_id">
  <%= options_for_select([['Jemmy Legs', 1], ['Talos', 2]])%>
  <%= select_tag(:user_id, options_for_select([['Jemmy Legs', 1], ['Talos', 2]]))%>
</select>
  <a href="/pubs/"><h5>Find Breweries</h5></a>
    <p>We'll help you find breweries nearest you, with the type of beer you want.</p>
    <p>(Finds breweries by user's sent Location Data)</p>
  <a href="/beers/"><h5>Learn about Beers</h5></a>
    <p>Want to learn the difference between a Stout and a Porter?  We'll educate you on the jargon.</p>
    <p>(You will also eventually be able to search for breweries by type of beer here)</p>
  <a href="/login/"><h5>Login</h5></a>
    <p>If you have an account, or want to sign in via Facebook or Google.</p>
  <a href="/signup/"><h5>Register</h5></a>
    <p>New here?  Make an account!</p>
  <a href="#"><h5>Social</h5></a>  
    <p>Organize a group meetup at a place near you!</p>
    <p>(Not yet implemented)</p>
</body>
</html>


<!--
<img src="images/LOGO.png" alt="" width="394" height="57" class="logo"/>
>