<h1> GROUP NAMES </h1>
<body>

  <%= form_for :groups, url: '/groups' do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>

    <%= f.submit "Create Group" %>
  <% end %>

<br>




</body>