@import "materialize";
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
@import "materialize/extras/nouislider";

#mainbox
{
  margin-left:100px;
  margin-top:20px;
  margin-right: 100px;
  margin-bottom:100px;
}

div.contentbox1 {
  width: 370px;
  background-color:white;
  padding:10px;
  overflow-y:scroll;
  height: 700px;
  float: left;
  margin-left:50px;
}

div.beers_info
{
  width: 30%;
  background-color: white;
  overflow:hidden;
  height: 460px;
  float: left;
  margin-right:30px;
  overflow-y:scroll;
}

div.breweries_info
{
  width:30%;
  background-color: white;
  overflow:hidden;
  overflow-y:scroll;
  height: 70vh;
  float: left;
  margin-right:100px;
}

iframe.breweries_info
{
  width:30%;
  background-color: white;
  overflow:hidden;
  overflow-y:scroll;
  height: 70vh;
  float: left;
}

div.contentbox2 {
  width: 500px;
  background-color:white;
  padding:20px;
  overflow-y:scroll;
  height: 500px;
  float: left;
  margin-left:50px;
}

iframe.contentbox2 {
  width: 500px;
  background-color:white;
  padding:20px;
  overflow-y:scroll;
  height: 700px;
  float: left;
  margin-left:50px;
}

div.pubbox {
  width: auto;
  background-color:white;
  padding:20px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

p.brewery {
  color:black;
  line-height: 0.8;
  font-size: 120%;
}

p.brewery2 {
  color:black;
  line-height: 0.8;
  font-size: 120%;
  padding-left:20px;
}

p.location {
  color:gray;
  line-height: 0.1;
  text-indent: 20px;
  font-size: 90%;
}

p.bname {
  font-weight:bold;
  font-size:130%;
}

p.bdesc {

}
