body
{
  margin: 20px 0 0 0;
}
ul.nav
{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#333;
}

ul.nav li
{
  float:right;
}

ul.nav li a
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font: 17px Arial;
}

ul.nav li a:hover
{
  background-color: #111;
}

ul.nav li.icon
{
  display:none;
}

/*media queries for small screens*/
@media screen and (max-width:680px)
{
  ul.nav li:not(:first-child)
  {
    display: none;
  }
  ul.nav li.icon
  {
    float:right;
    display: inline-block;
  }
}

@media screen and (max-width:680px)
{
  ul.nav.responsive
  {
    position: relative;
  }
  ul.nav.responsive li.icon
  {
    position:absolute;
    right:0;
    top: 0;
  }
  ul.nav.responsive li
  {
    float: none;
    display: inline;
  }
  ul.nav.responsive li a
  {
    display:block;
    text-align: left;
  }
}

div.mainbox
{
  padding-left:16px;
}
